ETag verification does not support the entity-tag syntax defined in RFC 2616

Currently, the ETag verification in `CloudFilesProvider` does not support the `entity-tag` syntax defined in RFC 2616 §3.11.

```
  entity-tag = [ weak ] opaque-tag
  weak       = "W/"
  opaque-tag = quoted-string
```
